@use "../utilities/variables" as *;

.colorfondonav {
    background-color: $color-principal;
    padding: 0.5rem 1rem;

    .navbar-brand {
        .h3 {
            font-size: 1.5rem;
            color: $color-oscuro;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    .navlink {
        color: $color-oscuro;
        transition: color 0.3s ease;

        &:hover, &.active {
            color: $color-principal-hover;
        }
    }

    .carrito-icono {
        width: 30px;
        height: auto;
    }
}

@media (max-width: 576px) {
    .colorfondonav .carrito-icono {
        width: 25px;
    }
}