//paleta de colores
$color-principal: #fce4ec; 
$color-principal-hover: #f8bbd0; 
$color-secundario: #ffffff;
$color-oscuro: #333333;
$color-texto-footer: #ffffff;
$fuente-principal: 'Arial', sans-serif;